@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: #F7DF1E;
    overflow-x: hidden;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
}

.card {
    width: 25vw;
    min-height: 10rem;
    border-radius: 8px;
    padding: 1rem;
    margin: 1.4rem;
    font-size: 1.2rem;
    background-color: whitesmoke;
    transition: transform .5s ease;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cover__container {
    width: 100%;
}

.cover__container img {
    width: 100%;
    border-radius: 8px;
}

.description__container {
    text-align: justify;
    margin: 1rem 0 2rem 0;
}

.links__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    transition: color .3s ease;
}

.links__container a {
    font-weight: bold;
}

a:hover {
    color: rgb(21, 93, 226);
}

footer {
    margin-top: 1rem;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: black;
    color: #F7DF1E;
}

footer span {
    margin: 0 .2rem;
}

footer span a {
    color: #F7DF1E;
}

footer span i {
    margin: 0 .2rem;
}

@media screen and (max-device-width: 600px) {
    
    h1 {
        font-size: 2rem;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .card {
        width: 90%;
        font-size: 1rem;
    }
    
    .card:hover {
        transform: scale(1);
    }

    footer {
        height: 4rem;
        font-size: .9rem;
    }

    @media screen and (max-device-width: 400px) {
        footer {
            font-size: .7rem;
        }
    
    }
    
    footer span {
        margin: 0 .1rem;
    }
    
    footer span a {
        color: #F7DF1E;
    }
    
    footer span i {
        margin: 0 .1rem;
    }
}